html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
}

/* colors */

.lightred {
    background-color: #FFE9E3;
}

.transparent {
    background-color: rgba(255, 255, 255, 0);
}

/*  Navbar  */
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */

nav {
    height: 40px;
    width: 90%;
    margin: 0 auto;
    background: transparent;
    font-family: 'Brandon Grotesque', Arial, sans-serif;
    font-weight: bold;
    position: relative;
}
nav .logo {
    margin: 2rem auto 0 auto;
}
nav ul {
    margin: 2rem auto 0 auto;
    height: 40px;
    float: right;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    margin-left: 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a:hover {
    border-bottom: #F4D9D9 solid 4px;
}
nav a:hover {
    color: white;
}
nav li a {
    font-size: 1.3rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a#pull {
    display: none;
}

/*Styles for screen 600px and lower*/
@media all and (max-width: 600px) {
    b {
        font-size: 2rem;
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
    nav {
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav a#pull {
        display: block;
        width: 100%;
        position: relative;
    }
    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
}

#hero {
    background: url("../images/cupcakes.jpg") no-repeat lightgrey center;
    background-size: cover;
    height: 700px;
    position: relative;
}

#hero > .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(160, 91, 83, .75);
}

#navbar {
    background-color: transparent;
}

.vertical-hr {
    width: 1px;
    margin: 0;
    background-color: #9E9E9E;
}
.banner {
    margin: 8rem auto 0 auto;
    width: 85%;
    text-align: center;
    color: white;
}

.banner #banner-title {
    font-weight: bold;
    font-size: 5rem;
    margin: 0 auto;
}

.banner #banner-sub {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 0 auto;
    color: white;
}

.button-group {
    margin: 3rem auto 0 auto;
    max-width: 768px;
    text-align: center;
}

#address {

}

#details h3 {
    color: #5E4B45;
    font-size: 1.6rem;
}

#details h4 {
    color: #5E4B45;
    font-size: 1.4rem;
}

#details h4:hover {
  color: #838485;
}

#address:hover {
  color: #838485;
}

#details a:link {
  text-decoration: none;
}

#customer-loyalty {
  padding: 3rem 2rem 7rem 2rem;
  background-color: #F5C4C4;

}

#customer-loyalty h2 {
  color: #FFFFFF;
}

/* Grid */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
    text-align: center;
}
.col-content {
    margin: 4rem 1rem;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 768px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}
@media only screen and (max-width: 768px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.66%; }
.span_1_of_3 { width: 33.33%; }

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

#reviews {
    background: url("../images/reviews-bg.jpg") no-repeat lightgrey center;
    background-color: #FFF5F2;
    padding: 4rem 2rem;
}

#reviews .title {
    text-align: center;
    font-size: 2rem;
    color: #FFFFFF;
}

#reviews .review-panel {
    height: 300px;
    background-color: white;
    border-radius: 8px;
    margin: 1rem;
    -webkit-box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
    -moz-box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
    box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
}

#reviews .review-panel .customer-info {
    padding: 2rem 2rem 0 2rem;
}

.review-content {
    padding: 0 2rem;
    font-size: 1.6rem;
}

.customer-name {
    margin: 0 auto;
    font-size: 1.2rem;
}

.review-content {
  font-size: 1.6rem;
  padding: 0 2rem;
}

hr {
    border: none;
    width: 40px;
    height: 4px;
    background-color: #E86565;
    border-radius: 20px;
    margin: 2rem auto;
}

#reviews .review-panel .customer-picture {
    width: 40px;
    height: 40px;
    border: 2px #EDEDED solid;
    border-radius: 40px;
    margin: 0 auto;
}

/* MENU */

#menu {
    background: url("../images/specials-bg.jpg") no-repeat lightgrey center;
    background-color: white;
    padding: 3rem 2rem 5rem 2rem;
}

#menu .title {
    text-align: center;
    font-size: 2rem;
    color: #5E4B45;
}

.menu-wrapper {
    max-width: 768px;
    margin: 0 auto;
    width: 95%;
}
.menu-item {
    -webkit-box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
    -moz-box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
    box-shadow: 0px 1px 2px -1px rgba(158,158,158,1);
    border-radius: 8px;
    background-color: #FAFAFA;
    min-height: 400px;
    margin: 2rem;
}
.menu-content {
    padding: 2rem;
}
.meal-image {
    height: 100%;
    width: 100%;
    max-height: 216px;
    max-width: 288px;
    border-radius: 8px;
}
.recipe-description {
}

.menu-item:focus {
    outline: none;
}
.slick-arrow {
}

/* Contact */
#contact {
    padding: 3rem 2rem 7rem 2rem;
    background-color: #E86565;
}

.contact-splash {
    text-align: center;
}

.contact-splash h1 {
    color: white;
    font-size: 3rem;
}
